{% extends 'base.html' %}

{% block title %}Log in{% endblock %}

{% block main %}

{% if form.errors %}
<div class="flash flash--alert">
  Your username and password didn't match. Please try again.
</div>
{% endif %}

<h1>Log in</h1>

{% if next %}
	<div class="flash flash--alert">
    {% if user.is_authenticated %}
    Your account doesn't have access to this page. To proceed, please login with an account that has access.
    {% else %}
    Please login to see this page.
    {% endif %}
	</div>
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<p>{{ form.username.label_tag }}</p>
<p>{{ form.username }}</p>

<p>{{ form.password.label_tag }}</p>
<p>{{ form.password }}</p>

<p>
  <input type="submit" value="Log in">
  <input type="hidden" name="next" value="{{ next }}">
</p>
</form>

<p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}
