Include /etc/ssh/sshd_config.d/*.conf

Port 22

AllowUsers astrophena git
AuthorizedKeysFile /etc/ssh/keys/%u.pub

Subsystem sftp /usr/lib/openssh/sftp-server

PermitRootLogin no
PasswordAuthentication no
ChallengeResponseAuthentication no
UsePAM yes
X11Forwarding no
PrintMotd no
AcceptEnv LANG LC_*
