<!-- vim: set ft=gotplhtml: -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>SQL Playground</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <h1>SQL Playground</h1>
      <nav>
        {{ if .Query }}
          <a href="/">Clear</a>
        {{ end }}
        <a href="/schema">Schema</a>
      </nav>
    </header>
    <main>
      <p>Using database <code>{{ .DBPath }}</code>.</p>
      <form method="GET">
        <textarea name="query" rows="5" cols="80" placeholder="Enter your query...">
{{ .Query }}</textarea
        >
        <input type="submit" value="Query" />
      </form>

      {{ if .Query }}
        {{ if .QueryErr }}
          <div class="flash flash--alert">{{ .QueryErr }}</div>
        {{ end }}
        {{ if .Table }}
          <p><i>Took {{ .Duration }}.</i></p>
          {{ .Table }}
        {{ end }}
      {{ end }}
    </main>
  </body>
</html>
