<!-- vim: set ft=htmldjango: -->
<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#12161a" />
    <meta name="twitter:dnt" content="on" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="icon" href="{{ url_for('static', filename='icons/36x36.webp') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <header>
      <h1>Astroflask</h1>
      <nav>
        <a href="/">Greet</a>
        <a href="/sysinfo">System info</a>
        <a href="/dump-request">Dump request</a>
      </nav>
    </header>
    <main>
      {% block main %}{% endblock %}
    </main>
  </body>
</html>
